{% extends 'comercialbase.html' %} {% block content %}
    {% load static %}
    {% load django_tables2 %}
    <link rel="stylesheet" href="{% static 'css/recibo_items.css' %}"/>
    <h1 class="align-center">
        <img src="{% static 'img/Juan-Matas.png' %}" alt="Logo de la Empresa" class="logo-empresa" style="vertical-align:middle; margin-right:5px;"/>
        Movimientos Inventario Juan Matas <i class="bi bi-nintendo-switch"></i>
    </h1>
    <div class="container my-4">
        <form method="get" class="d-flex justify-content-center mb-3">
            <input type="text" name="item_busqueda" placeholder="Buscar Referencia..." class="form-control w-25"/>
            <button class="btn btn-secondary ms-2" type="submit"><i class="bi bi-search"></i></button>
        </form>
        <div class="d-flex justify-content-center mb-4">
            <button type="button" class="btn btn-primary mx-2" name="add" id="add" data-bs-toggle="modal"
                    data-bs-target="#modalCreateItem" href="{% url 'reciboitemscreatejuan' %}">
                <i class="bi bi-database-fill-add"></i> Añadir
            </button>
            <a class="btn btn-success mx-2" href="{% url 'exportar_items_juan' %}" name="exportar">
                <i class="bi bi-filetype-xlsx"></i> Exportar
            </a>
            <a class="btn btn-danger mx-2" name="volver" id="volver" role="button" onclick="history.back();">
                <i class="bi bi-reply-fill"></i> Volver
            </a>
        </div>
    </div>
    <div class="container-fluid">
        {% render_table table %}
    </div>
    <!-- Crear Item Modal -->
    <div class="modal fade text-white" id="modalCreateItem" tabindex="-1" aria-labelledby="modalCreateItemLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content text-white bg-dark">
                <!-- Modal content here -->
            </div>
        </div>
    </div>
    <!-- Editar Item Modal -->
    <div class="modal fade text-white" id="moverItemModal" tabindex="-1" role="dialog"
         aria-labelledby="moverItemModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-dark">
                <!-- Modal content here -->
            </div>
        </div>
    </div>
    <!-- Eliminar Item Modal -->
    <div class="modal fade text-white" id="eliminarItemModal" tabindex="-1" role="dialog"
         aria-labelledby="eliminarItemModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-dark">
                <!-- Modal content here -->
            </div>
        </div>
    </div>
    <script src="{% static 'js/editar_item.js' %}"></script>
    <script src="{% static 'js/crear_item.js' %}"></script>
    <script src="{% static 'js/eliminar_item.js' %}"></script>
{% endblock %}
