{% load static %}
<link rel="stylesheet" href="{% static 'css/detalle_pedido_crear.css' %}"/>
<div class="modal-header">
    <h5 class="modal-title">Crear Detalle Pedido No: {{ pedido_id }} <i class="bi bi-bag-check-fill"></i></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form action="{% url 'detalle_pedido_crear' pedido_id %}" method="post">
    {% csrf_token %}
    <div class="modal-body">
        <div id="errores">
            {% for field, error_list in form.errors.items %}
                {% for error in error_list %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6">
                    {{ form.pedido.label_tag }} {{ form.pedido }}
                </div>
                <div class="col-md-6">
                    {{ form.fruta.label_tag }} {{ form.fruta }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    {{ form.presentacion.label_tag }} {{ form.presentacion }}
                </div>
                <div class="col-md-6">
                    {{ form.cajas_solicitadas.label_tag }} {{ form.cajas_solicitadas }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    {{ form.tipo_caja.label_tag }} {{ form.tipo_caja }}
                </div>
                <div class="col-md-6">
                    {{ form.referencia.label_tag }} {{ form.referencia }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    {{ form.lleva_contenedor.label_tag }} {{ form.lleva_contenedor }}
                </div>
                <div class="col-md-6">
                    {{ form.tarifa_utilidad.label_tag }} {{ form.tarifa_utilidad }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    {{ form.valor_x_caja_usd.label_tag }} {{ form.valor_x_caja_usd }}
                </div>
                <div class="col-md-6">
                    {{ form.precio_proforma.label_tag }} {{ form.precio_proforma }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    {{ form.observaciones.label_tag }} {{ form.observaciones }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        function updatePresentaciones() {
            var frutaId = $('#id_fruta').val();
            var pedidoId = {{ pedido_id }};

            if (frutaId) {
                $.ajax({
                    url: "{% url 'filtrar_presentaciones' %}",
                    data: {
                        'fruta_id': frutaId,
                        'pedido_id': pedidoId
                    },
                    dataType: 'json',
                    success: function (data) {
                        var presentacionSelect = $('#id_presentacion');
                        presentacionSelect.empty();
                        presentacionSelect.append('<option value="">Seleccione una presentación</option>');
                        $.each(data.presentaciones, function (key, value) {
                            presentacionSelect.append('<option value="' + value.id + '">' + value.nombre + ' (' + value.kilos + ' kg)</option>');
                        });
                    }
                });
            } else {
                $('#id_presentacion').empty();
            }
        }

        function updateReferencias() {
            var frutaId = $('#id_fruta').val();
            var presentacionId = $('#id_presentacion').val();
            var tipoCajaId = $('#id_tipo_caja').val();
            var pedidoId = {{ pedido_id }};

            if (frutaId && presentacionId && tipoCajaId) {
                $.ajax({
                    url: "{% url 'ajax_load_referencias' %}",
                    data: {
                        'presentacion_id': presentacionId,
                        'tipo_caja_id': tipoCajaId,
                        'fruta_id': frutaId,
                        'pedido_id': pedidoId
                    },
                    dataType: 'json',
                    success: function (data) {
                        var referenciaSelect = $('#id_referencia');
                        referenciaSelect.empty();
                        referenciaSelect.append('<option value="">Seleccione una referencia</option>');
                        $.each(data.referencias, function (key, value) {
                            referenciaSelect.append('<option value="' + value.id + '">' + value.nombre + '</option>');
                        });
                    }
                });
            } else {
                $('#id_referencia').empty();
            }
        }

        $('#id_fruta').change(updatePresentaciones);
        $('#id_presentacion, #id_tipo_caja').change(updateReferencias);
    });
</script>


