{% load static %}
<link rel="stylesheet" href="{% static 'css/crear_pedido.css' %}"/>
<div class="modal-header">
    <h5 class="modal-title" id="moverItemModalLabel">Eliminar Pedido <i class="bi bi-trash3-fill"></i></h5>
</div>
<form id="eliminarItemForm" method="post">
    {% csrf_token %}
    <div class="modal-body">
        <div id="errores">
            {% for field, error_list in form.errors.items %}
                {% for error in error_list %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        {{ form.as_p }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </div>
</form>