{% extends 'comercialbase.html' %}
{% block content %}
    {% load static %}
    {% load django_tables2 %}
    <!DOCTYPE html>
    <html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'img/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'css/detalle_pedido.css' %}"/>
        <title>Pedidos Heavens</title>
    </head>
    <body>
    <div class="container mt-4">
        <h1 class="text-center">Pedido No: {{ pedido.id }}</h1>
        <h2 class="text-center">Cliente: {{ pedido.cliente.nombre }}</h2>
        <div class="d-flex justify-content-center my-3">
            {% if not pedido.awb and not pedido.numero_factura %}
                <button type="button" class="btn btn-primary me-3" name="add" id="add" data-bs-toggle="modal"
                        data-bs-target="#adddetalleItemModal" href="{% url 'detalle_pedido_crear' pedido.id %}">
                    <i class="bi bi-bag-plus-fill"></i> Agregar
                </button>
            {% endif %}
            <a type="button" class="btn btn-danger" name="volver" id="volver" role="button"
               href="{% url 'redirect_based_on_group' %}">
                <i class="bi bi-reply-fill"></i> Pedidos
            </a>
        </div>
    </div>
    <div class="container-fluid">
        {% render_table table %}
    </div>

    <!-- Modals -->
    <div class="modal fade text-white" id="adddetalleItemModal" tabindex="-1" role="dialog"
         aria-labelledby="adddetalleItemModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content text-white bg-dark">
            </div>
        </div>
    </div>

    <div class="modal fade text-white" id="moverItemModal" tabindex="-1" role="dialog"
         aria-labelledby="moverItemModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content text-white bg-dark">
            </div>
        </div>
    </div>

    <div class="modal fade text-white" id="moverItemModal2" tabindex="-1" role="dialog"
         aria-labelledby="moverItemModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content text-white bg-dark">
            </div>
        </div>
    </div>

    <div class="modal fade text-white" id="moverItemModal3" tabindex="-1" role="dialog"
         aria-labelledby="moverItemModalLabel3" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content text-white bg-dark">
            </div>
        </div>
    </div>

    <div class="modal fade text-white" id="eliminarItemModal" tabindex="-1" role="dialog"
         aria-labelledby="eliminarItemModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content text-white bg-dark">
            </div>
        </div>
    </div>
    <script src="{% static 'js/editar_detalle_pedido.js' %}"></script>
    <script src="{% static 'js/editar_detalle_pedido2.js' %}"></script>
    <script src="{% static 'js/editar_detalle_pedido3.js' %}"></script>
    <script src="{% static 'js/crear_detalle_pedido.js' %}"></script>
    <script src="{% static 'js/eliminar_detalle_pedido.js' %}"></script>
    </body>
    </html>
{% endblock %}
