{% extends 'comercialbase.html' %}
{% block content %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="es" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'img/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'css/cotizacion_list.css' %}"/>
        <title>Cotizaciones Etnico</title>
    </head>
    <body>
    <h1 class="text-center my-4">Cotizador Etnico</h1>
    <div class="container">
        <div class="row justify-content-center">
            <!-- Formulario para seleccionar la semana -->
            <div class="col-md-6">
                <form method="get" action="" class="mb-6">
                    <div class="form-group">
                        <label for="id_semana">Obtener datos de la semana:</label>
                        {{ form.semana }}
                        <input type="submit" value="Cargar Semana" class="btn btn-primary ml-2">
                    </div>
                </form>
            </div>

            <!-- Formulario principal -->
            <div class="col-md-6">
                <form method="post" class="mb-6">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_semana">Semana:</label>
                        {{ form.semana }}
                    </div>

                    <div class="form-group">
                        <label for="id_trm_cotizacion">TRM Monetización $:</label>
                        {{ form.trm_cotizacion }}
                    </div>
            </div>
        </div>
    </div>
    <!-- Tabla de cotizaciones -->
    <table class="table table-bordered full-width-table">
        <thead class="thead-dark">
        <tr>
            <th>Presentación</th>
            {% for field_name in field_names %}
                {% if field_name != "TRM Cotización" %}
                    <th>{{ field_name }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for presentacion in presentaciones_data %}
            <tr>
                <td>{{ presentacion.objeto.nombre }}</td>
                {% for field_key, field_value in presentacion.campos.items %}
                    {% if field_key != "trm_cotizacion" %}  <!-- Excluir el campo trm_cotizacion -->
                        <td>{{ field_value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <input type="submit" value="Actualizar Cotizacion" class="btn btn-success" name="update">
    </form>
    <script>
        window.onload = function () {
            // Función para obtener el valor del parámetro de la URL
            function getQueryParam(param) {
                var search = window.location.search.substring(1);
                var variables = search.split('&');
                for (var i = 0; i < variables.length; i++) {
                    var pair = variables[i].split('=');
                    if (pair[0] == param) {
                        return pair[1];
                    }
                }
                return false;
            }

            // Obtén el parámetro de la semana de la URL
            var semana = getQueryParam('semana');

            // Si existe el parámetro semana, establece el valor en ambos campos de selección de semana
            if (semana) {
                var semanaFields = document.querySelectorAll('select[name="semana"]');
                semanaFields.forEach(function (field) {
                    field.value = semana;
                });
            }
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}{% for m in messages %}
        <script>
            Swal.fire({
                title: "Operación Exitosa",
                text: "{{m}}",
                icon: "success",
            });
        </script>
    {% endfor %}{% endif %}
    </body>
    </html>
{% endblock %}
