@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*         Name of items    */


[name="numero_item"],
[name="cantidad_cajas"],
[name="documento"],
[name="proveedor"],
[name="bodega"],
[name="fecha_movimiento"],
[name="propiedad"],
[name="tipo_documento"],
[name="observaciones"] {
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;
    color: black; /* Color por defecto */
}

/* Estilos específicos para campos deshabilitados */
[name="numero_item"]:disabled,
[name="cantidad_cajas"]:disabled,
[name="documento"]:disabled,
[name="proveedor"]:disabled,
[name="bodega"]:disabled,
[name="fecha_movimiento"]:disabled,
[name="propiedad"]:disabled,
[name="tipo_documento"]:disabled,
[name="observaciones"]:disabled {
    color: white; /* Color cuando estén deshabilitados */
    background-color: black;
}

