@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

body {
    font-family: 'Mulish', serif !important;
    margin-bottom: 100px; /* Asegura espacio para los botones al fondo */
}

h1 {
    justify-content: center;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 800 !important;
    font-size: 40px !important;
    color: #000000;
}

h2 {
    justify-content: center;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    color: #48f8bc;
    font-weight: normal;
}

h5 {
    justify-content: center;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    color: #000000;
    font-weight: 1000 !important;
}

h6 {
    justify-content: center;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    color: #000000;
    font-weight: 600 !important;
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Mulish', sans-serif;
    width: 100%;
    min-width: 400px; /* Hace que la tabla ocupe el 100% del ancho disponible */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #ece9e9; /* Puedes ajustar el color de fondo según tus preferencias */
    font-weight: bold;
    white-space: initial; /* Evita el salto de línea en las celdas */
    text-align: center; /* Alinea el texto a la derecha */
}

.table thead tr {
    background-color: #f6a168;
    color: #000000;
    text-align: center;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #000000;
}

.table td, .table th {
    vertical-align: middle;
}

table tr td:nth-child(1), table tr td:nth-child(2), table tr td:nth-child(8) {
    text-align: justify;
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

label {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    margin: 10px;
}

.button-container {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.button-container a {
    margin: 5px;
    transition: all 300ms ease 0ms;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.button-container a:hover {
    background-color: #000000;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
    .button-container a {
        font-size: 14px;
        padding: 12px 20px;
    }
}
