
.modal-content {
    background-color: #2c3e50;  /* Fondo oscuro para el contenido del modal */
    color: #ecf0f1;  /* Color de texto claro */
    border-radius: 8px;  /* Bordes redondeados */
}

.modal-header, .modal-footer {
    border: none;  /* Sin bordes */
}

.modal-title {
    font-size: 1.5em;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ecf0f1;  /* Color del texto */
}

[name="cliente"],
[name="fecha_solicitud"],
[name="fecha_entrega"],
[name="exportadora"],
[name="awb"],
[name="numero_factura"],
[name="nota_credito_no"],
[name="motivo_nota_credito"],
[name="valor_pagado_cliente_usd"],
[name="utilidad_bancaria_usd"],
[name="fecha_pago"],
[name="trm_monetizacion"],
[name="documento_cobro_utilidad"],
[name="fecha_monetizacion"],
[name="descuento"],
[name="fecha_llegada"],
[name="subexportadora"],
[name="destino"],
[name="fecha_pago_utilidad"],
[name="responsable_reserva"],
[name="estatus_reserva"],
[name="agencia_carga"],
[name="etd"],
[name="eta"],
[name="peso_awb"],
[name="estado_documentos"],
[name="trm_cotizacion"],
[name="intermediario"],
[name="eta_real"],
[name="termo"],
textarea[name="observaciones"],
textarea[name="observaciones_tracking"] {
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;
    background-color: #34495e;  /* Fondo de los campos */
    color: #ecf0f1;  /* Color del texto */
}

[name="cliente"]:disabled,
[name="fecha_solicitud"]:disabled,
[name="fecha_entrega"]:disabled,
[name="exportadora"]:disabled,
[name="awb"]:disabled,
[name="numero_factura"]:disabled,
[name="nota_credito_no"]:disabled,
[name="motivo_nota_credito"]:disabled,
[name="valor_pagado_cliente_usd"]:disabled,
[name="utilidad_bancaria_usd"]:disabled,
[name="fecha_pago"]:disabled,
[name="trm_monetizacion"]:disabled,
[name="documento_cobro_utilidad"]:disabled,
[name="fecha_monetizacion"]:disabled,
[name="descuento"]:disabled,
[name="fecha_llegada"]:disabled,
[name="subexportadora"]:disabled,
[name="destino"]:disabled,
[name="fecha_pago_utilidad"]:disabled,
[name="responsable_reserva"]:disabled,
[name="estatus_reserva"]:disabled,
[name="agencia_carga"]:disabled,
[name="etd"]:disabled,
[name="eta"]:disabled,
[name="peso_awb"]:disabled,
[name="estado_documentos"]:disabled,
[name="trm_cotizacion"]:disabled,
[name="intermediario"]:disabled,
[name="eta_real"]:disabled,
[name="termo"]:disabled,
textarea[name="observaciones"]:disabled,
textarea[name="observaciones_tracking"]:disabled {
    background-color: #000000;  /* Fondo cuando estén deshabilitados */
    color: #ecf0f1;  /* Color cuando estén deshabilitados */
}

.btn-close {
    filter: invert(1);  /* Invertir colores para el botón de cerrar */
}

.btn-primary {
    background-color: #3498db;  /* Color del botón de guardar */
    border: none;
}

.btn-warning {
    background-color: #e67e22;  /* Color del botón de cerrar */
    border: none;
}
