/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
}

h1 {
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800 !important;
    font-size: 30px !important;
    color: #6fb9dc;
}

/* Table styles */
.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #F2F2F2;
    font-weight: bold;
    white-space: inherit;
    text-align: center;
    overflow-x: auto;
}

.table tbody tr:hover {
    background-color: #a3dbf8; /* Color de fondo al pasar el cursor */
    cursor: auto;
}

.table thead tr {
    background-color: #ff8052;
    color: #ffffff;
    text-align: center;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #098ad1;
}

.table td, .table th {
    vertical-align: middle;
}

.table thead th a {
    color: #ffffff; /* Color del texto */
    text-decoration: none; /* Quitar el subrayado */
}

.table thead th a:hover {
    color: #000000; /* Color del texto al pasar el cursor */
    text-decoration: underline; /* Subrayado al pasar el cursor */
}

.table thead th {
    color: #ffffff; /* Color del texto */
    background-color: #036098; /* Color de fondo */
    text-decoration: none;
}

table tr td:nth-child(1), table tr td:nth-child(20) {
    background-color: #6aeadd
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Form styles */
form.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

form.d-flex select,
form.d-flex input[name="item_busqueda"],
form.d-flex button {
    border-radius: 4px;
    border: none;
    padding: 5px 10px; /* Reducido el padding */
    background-color: #e4e4e4;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
    font-size: 14px; /* Reducido el tamaño de la fuente */
}

form.d-flex select {
    width: 155px; /* Reducido el ancho */
    margin-right: 5px;
}

form.d-flex input[name="item_busqueda"] {
    width: 150px; /* Reducido el ancho */
    margin-right: 5px;
}

form.d-flex input[name="item_busqueda"]:active,
form.d-flex input[name="item_busqueda"]:focus {
    width: 200px;
}

form.d-flex button {
    background-color: #ccc;
    cursor: pointer;
    margin-right: 5px;
    font-size: 14px;
}

form.d-flex button.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

form.d-flex button.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

/* Label styles */
label {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 10px;
}

/* Button container styles */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.button-container button,
.button-container a button {
    border-radius: 4px;
    padding: 5px 10px; /* Reducido el padding */
    font-size: 14px; /* Reducido el tamaño de la fuente */
    transition: background-color 0.3s;
    width: 130px; /* Ajustado el ancho */
}

.button-container .btn-primary {
    background-color: #007bff;
    color: white;
}

.button-container .btn-primary:hover {
    background-color: #0056b3;
}

.button-container .btn-danger {
    background-color: #dc3545;
    color: white;
}

.button-container .btn-danger:hover {
    background-color: #c82333;
}

.button-container .btn-outline-success {
    border-color: #28a745;
    color: #28a745;
}

.button-container .btn-outline-success:hover {
    background-color: #28a745;
    color: white;
}

.button-container .btn-sm {
    font-size: 12px; /* Reducido el tamaño de la fuente */
    padding: 5px 10px; /* Reducido el padding */
}

/* Icon styles */
button i {
    font-size: 14px; /* Ajusta el tamaño del icono según sea necesario */
}

button, .btn {
    transition: all 300ms ease 0ms;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.btn-close {
    filter: invert(1);  /* Invertir colores para el botón de cerrar */
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .button-container button,
    .button-container a button {
        width: 100%;
        margin-bottom: 10px;
    }
}
